.Loader {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
  .Loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #521751;
    border-color: #521751 transparent #521751 transparent;
    animation: Loader 1.2s linear infinite;
  }
  @keyframes Loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  